body {
  text-align: left;
}

.floatBox {
  height: 50px;
  width: 50px;
  background-color: tomato;
  float: left;
  padding: 10px;
  margin-right: 4px;
  overflow: auto;
}

#clearBox {
  clear: right;
  overflow: auto;
}
#containerBox {
  position: fixed;
     /*static | relative | absolute | fixed | sticky; */
  top: 0px; /* bottom left right*/
  left: 10%;
  
  height: 300px;
  width: 40%;
  background-color: #FF7043;
}


#contentBox {
  
  border: solid 1px blue;
  margin: 37px;
  padding: 14px;
  width: 200px;
}